.skills-style {
  margin-top: -5px;
}

.profile-container {
  margin-top: 7.4rem;
  margin-bottom: 5.9rem;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.cancel-btn {
  margin-left: 2rem;
  border-radius: 3rem !important;
  border: 1px solid #e0eb91 !important;
}

.css-yk16xz-control {
  border-radius: 3rem !important;
  border: 1px solid #e0eb91 !important;
}

.css-1rhbuit-multiValue {
  border-radius: 3rem !important;
  border: 1px solid #e0eb91 !important;
}
.dark-card {
  background-color: #25282c !important;
}
