.weather-container {
  margin-top: 4%;
}
.search-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.weather-head {
  text-align: center;
}
.span-style {
  font-size: 22px;
  color: red;
}
.error-border {
  border: 1px solid red;
  margin-bottom: 30px;
}
