.container {
  display: flex;
  justify-content: space-around;
}
.users {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
}
.users-bg {
  background-color: #0b153e;
}
.dark-outline {
  box-shadow: 4px 4px 4px 4px rgba(249, 249, 250, 0.2);
}

h1 {
  color: white;
  font-family: "Roboto";
}
.users .item {
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-family: "Roboto";
  font-size: 1.5rem;
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.users .item > div:first-child {
  font-size: 4rem;
  margin-left: 30px;
}
.users .item .name {
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
img {
  width: 80px;
}
