.footer-bg {
  background-color: #0b153e;
}
.footer-dark {
  border-top: 1px solid #101010;
}
.footer-style {
  color: white;
  width: 100%;
}
h6 {
  color: white;
}
.a-style {
  color: #edf3fa;
  font-size: 18px;
}
.a-style:hover {
  color: #edf3fa;
}
.p-style {
  font-weight: normal;
}
h3 {
  font-weight: lighter;
}
@media (max-width: 560px) {
  .p-style {
    font-size: 10px;
  }
  .a-style {
    font-size: 14px;
  }
  h3 {
    font-size: larger;
  }
}
